<div class="menu" id="links-button">

    <div class="btn trigger">
        <i class="fa fa-star fa-spin"></i>
    </div>

    <div class="icons">
        
        <div class="rotater" id="link-home" title="Home">
            <a class="btn btn-icon" href="/">
                <i class="fa fa-home"></i>
            </a>
            <a class="tip">Front Page</a>
        </div>
                
        <div class="rotater" id="link-supports" title="Support Database">
            <a class="btn btn-icon" target="_blank" href="https://thepiebandit.github.io/optc-supports/">
                <i class="fa fa-handshake"></i>
            </a>
            <a class="tip">Support Database</a>
        </div>
        
        <div class="rotater" id="link-ship" title="Pirate Rumble Database">
            <a class="btn btn-icon" target="_blank" href="https://thepiebandit.github.io/optc-pirate-rumble-db/">
                <i class="fa fa-flag"></i>
            </a>
            <a class="tip">Rumble Database</a>
        </div>
        
        <div class="rotater" id="link-ship" title="Ship Database">
            <a class="btn btn-icon" target="_blank" href="https://optc-ships.vercel.app">
                <i class="fa fa-ship"></i>
            </a>
            <a class="tip">Ship Database</a>
        </div>
        
        <div class="rotater" id="link-characters" title="Character Table" ng-if="exclude != 'characters'">
            <a class="btn btn-icon" target="_blank" href="../characters">
                <i class="fa fa-book"></i>
                <a class="tip">Character table</a>
            </a>
        </div>

        <div class="rotater" id="link-damage" title="Damage Calculator" ng-if="exclude != 'calculator'">
            <a class="btn btn-icon" target="_blank" href="../damage">
                <i class="fa fa-calculator"></i>
            </a>
            <a class="tip">Damage calculator</a>
        </div>
        
        <div class="rotater" id="link-reddit" title="r/OnePiecTC">
            <a class="btn btn-icon" target="_blank" href="https://www.reddit.com/r/OnePieceTC/"></a>
            <a class="tip top">r/OnePiecTC</a>
        </div>
        
        <div class="rotater" id="link-github" title="OPTC-DB Repo">
            <a class="btn btn-icon" target="_blank" href="https://github.com/2Shankz/optc-db.github.io"></a>
            <a class="tip top">OPTC-DB Repo</a>
        </div>

    </div>

</div>
